ad{display: block;
padding-bottom: 20px;
border:  2px solid black;
padding:  200px;
border-radius : 25px;
background-color: black;

}
make,model,description,seller{
    color: yellow;
    font-weight:  bolder;
    font-family:  helvetica;

}
year, color, price, city, state{

    color:  white;
}
